name: schoolmgr_schedule


on:
  repository_dispatch:
    types:
      - schoolmgr_schedule
  push:
    branches: [ '*' ]
  pull_request:
  release:
    types: [ created, edited ]
  workflow_dispatch:
    inputs:
      gva_version:
        required: true
        type: string
# env:
  # sss
env:
  TZ: Asia/Shanghai
jobs:
  init:
    if: github.repository_owner == 'charlessoft'
    # runs-on: ubuntu-latest
    runs-on: macos-latest
    steps:
      - name: init
        run: |
          echo "charlessoft"
          echo "${{ toJson(github.event.client_payload) }}"
          echo "charlessoft11"
          echo "${{ toJson(github.event.client_payload) }}" > client_payload.json



  frontend:
    if: github.event_name == 'push' || github.event_name == 'pull_request' || github.event_name == 'release'  || github.event_name == 'repository_dispatch'
    name: Frontend node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.20.4]
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
          
      - name: Setup SSH Key
        env:
          SSH_KEY: ${{ github.event.client_payload.ssh_keys[0] }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-keyscan gitee.com >> ~/.ssh/known_hosts
          
      # - name: Setup SSH Key
      #   env:
      #     SSH_KEY: ${{ github.event.client_payload.ssh_keys[0] }}
      #   run: |
      #     mkdir -p ~/.ssh/
      #     echo "$SSH_KEY" > ~/.ssh/id_rsa
      #     chmod 600 ~/.ssh/id_rsa
      #     ssh-keyscan github.com >> ~/.ssh/known_hosts
      #     ssh-keyscan gitee.com >> ~/.ssh/known_hosts

      - name: Clone ${{  github.event.client_payload.project_name }}
        run: |
          # 提取分支名称（去掉 refs/heads/ 前缀）
          BRANCH_NAME=$(echo "${{ github.event.client_payload.mybranch }}" | sed 's|refs/heads/||')
          echo "切换到分支: $BRANCH_NAME"
          
          # 克隆仓库
          git clone ${{ github.event.client_payload.gitaddress }} ./${{  github.event.client_payload.project_name }}
          
          # 进入项目目录并切换分支
          cd ./${{  github.event.client_payload.project_name }}
          
          # 如果是远程分支，先获取所有分支信息
          git fetch origin
          
          # 切换到指定分支（如果分支不存在会自动创建并跟踪远程分支）
          git checkout -B $BRANCH_NAME origin/$BRANCH_NAME || git checkout $BRANCH_NAME

          # 初始化并更新子模块
          git submodule init
          git submodule update
          # 返回上级目录
          cd ..
          
          # 克隆 myutils
          git clone git@gitee.com:charlesabc/myutils.git ./${{  github.event.client_payload.project_name }}/myutils

          
         # # BRANCH_NAME=$(echo "${{ github.event.client_payload.mybranch }}" | sed 's|refs/heads/||')
         # # echo $BRANCH_NAME
         # git clone  ${{ github.event.client_payload.git_url }} ./${{  github.event.client_payload.project_name }}
         # git clone git@gitee.com:charlesabc/myutils.git ./${{  github.event.client_payload.project_name }}/myutils


      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # cache: 'pnpm'
          
      # - uses: pnpm/action-setup@v4
      #   name: Install pnpm
      #   with:
      #     version: 10
      #     run_install: false

      # - name: Install Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: ${{ matrix.node-version }}
          # cache: 'pnpm'
          
          
      # - name: Use Node.js ${{ matrix.node-version }}
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: ${{ matrix.node-version }}

      # - name: Install pnpm
      #   run: |
      #     npm install -g pnpm
      #     pnpm config set registry https://registry.npmjs.org
        

      # - name: Set SSH
      #   run: |
      #     # 提取第一个 SSH key
      #     FIRST_KEY=$(echo "${{ toJson(github.event.client_payload.ssh_keys) }}" | jq -r '.[0]')
          
      #     # 创建 .ssh 目录并保存 SSH key
      #     mkdir -p ~/.ssh/
      #     echo "$FIRST_KEY" > ~/.ssh/id_rsa
      #     chmod 600 ~/.ssh/id_rsa
          
      #     # 添加 GitHub 到 known_hosts
      #     ssh-keyscan github.com >> ~/.ssh/known_hosts
  
  #     - name: Set SSH
  #       env:
  #         KEY: ${{ secrets.SSH_KEY }}
  #       run: |
  #         echo $KEY
  #         mkdir -p ~/.ssh/ && echo "$KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
  #         ssh-keyscan github.com >> ~/.ssh/known_hosts


   



      - name: Install dding on non-Windows
        if: runner.os != 'Windows'
        run: |
          pip install dding
          mkdir -p ~/.dding
          dding_secret="${{ github.event.client_payload.secret || env.DEFAULT_DDING_SECRET }}"
          dding_token="${{ github.event.client_payload.token || env.DEFAULT_DDING_TOKEN }}"
          cat <<EOF > ~/.dding/config.json
          [
              {
                  "group": "default",
                  "secret": "$dding_secret",
                  "token": "$dding_token"
              }
          ]
          EOF
          
      - name: Get current branch name
        id: get_branch
        run: |
          echo "BRANCH=${{ github.event.client_payload.mybranch }}" >> $GITHUB_ENV
          echo "UTILS_DIR=${PWD}/${{ github.event.client_payload.project_name }}/myutils" >> $GITHUB_ENV
          echo "WORK_ROOT_DIR=${PWD}/${{  github.event.client_payload.project_name }}" >> $GITHUB_ENV
          echo "==========="
          echo $(git rev-parse --abbrev-ref HEAD)
          echo "==========="

      - name: Generate JENKINS.env
        run: |
          echo "export BRANCH=$BRANCH " >> $WORK_ROOT_DIR/.JENKINS.env
          echo "export UTILS_DIR=$UTILS_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
          echo "export WORK_ROOT_DIR=$WORK_ROOT_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
          cat $WORK_ROOT_DIR/.JENKINS.env
        working-directory: ./${{ github.event.client_payload.project_name }}

  #     - name: Generate git commit
  #       run: |
  #          bash $WORK_ROOT_DIR/myutils/quickspider/scripts/build_web.sh $WORK_ROOT_DIR/.JENKINS.env
      # - name: Setup Debug Session
      #   uses: csexton/debugger-action@master

      - name: Set Go proxy
        run: echo "GOPROXY=https://proxy.golang.org,direct" >> $GITHUB_ENV

      - name: Build test
        shell: bash
        run: |
          pwd
          ls
          echo "========="
          cd ${UTILS_DIR}
          source ${UTILS_DIR}/utils.sh
          cd -

          

          # pnpm config set registry https://registry.npmjs.org
          # pnpm config get registry

          # # #==============
          # # 编译

          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/build_server.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          
          # # 编译agent
          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/build_agent.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          # # 发布
          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/publish_server.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/publish_agent.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          
          # # # 部署
          # # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/guanlan/docker_deploy.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          # # # 部署angent
          # # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/generate_deploy_agent.sh $WORK_ROOT_DIR/.JENKINS.env guanlan || CheckLastResult

          # # 部署 英才
          # # #echo "yingcai==="
          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/yingcai/docker_deploy.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult
          
          # # 部署angent
          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/generate_deploy_agent.sh $WORK_ROOT_DIR/.JENKINS.env yingcai || CheckLastResult
          
          
          # # 部署angent
          # #sh ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/generate_deploy_agent.sh $WORK_ROOT_DIR/.JENKINS.env sanlong_node || CheckLastResult
          
          # #echo ${BRANCH_NAME}
          # echo "========================"


          # bash ${WORK_ROOT_DIR}/myutils/schoolmgr_schedule/scripts/yingcai/docker_deploy.sh $WORK_ROOT_DIR/.JENKINS.env || CheckLastResult


        working-directory: ./${{ github.event.client_payload.project_name }}


      # - name: Check Status
      #   if: ${{ success() }}
      #   shell: pwsh
      #   run: |
      #     $repoName = $env:GITHUB_REPOSITORY.Split('/')[-1]
          
      #     Write-Host "Workflow succeeded for $repoName!"
      #     dding "github action success :):):) for ./${{ github.event.client_payload.project_name }}"
          

      # - name: Check Status
      #   if: ${{ failure() }}
      #   shell: pwsh
      #   run: |
      #     $repoName = $env:GITHUB_REPOSITORY.Split('/')[-1]
      #     Write-Host "Workflow failed for $repoName!"
      #     dding "github action fail!!! :( ./${{ github.event.client_payload.project_name }}"

  dingding-error:
    runs-on: ubuntu-latest
    needs: [frontend]
    if: ${{ failure() }}
    steps:
      - uses: actions/checkout@v4
      - name: Send dingding notify error
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ github.event.client_payload.token }} #钉钉token
          secret: ${{ github.event.client_payload.secret }}
          body: |
            {
              "msgtype": "text",
              "text": {
                  "content": 'status:[打叉][打叉][打叉]  ${{  github.event.client_payload.project_name }} 执行失败\n提交者:  ${{ github.event.client_payload.ext.pusher.username }}\n${{ github.ref_type }}: ${{ github.event.client_payload.mybranch }}\nlog: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
             }
             }
            

  dingding-success:
    runs-on: ubuntu-latest
    if: ${{ success() }}
    needs: [frontend]
    steps:
      - uses: actions/checkout@v4
      - name: Send dingding notify success
        uses: zcong1993/actions-ding@master
        with:
          dingToken: ${{ github.event.client_payload.token }} #钉钉token
          secret: ${{ github.event.client_payload.secret }}
          body: |
            {
             "msgtype": "text",
             "text": {
                 "content": 'status:[对勾][对勾][对勾][100分]  ${{ github.event.client_payload.project_name }} 执行成功\n提交者: ${{ github.event.client_payload.ext.pusher.username }}\n${{ github.ref_type }}: ${{ github.event.client_payload.mybranch }}\nlog: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
             }
             }
  
        
  #     - name: Set SSH
  #       env:
  #         KEY: ${{ secrets.SSH_KEY }}
  #       run: |
  #         echo $KEY
  #         mkdir -p ~/.ssh/ && echo "$KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
  #         ssh-keyscan github.com >> ~/.ssh/known_hosts

  #     # - name: Setup Debug Session
  #     #   uses: csexton/debugger-action@master

  #     - name: publish web
  #       run: |
  #         # echo ${{ env.branch_name }} 
  #         # echo "export BRANCH=${{ env.branch_name }} " >> .JENKINS.env
  #         # find . -name "publish_web.sh"
  #         # echo "================="
  #         # cat .JENKINS.env
  #         bash $WORK_ROOT_DIR/myutils/quickspider/scripts/publish_web.sh $WORK_ROOT_DIR/.JENKINS.env

  # backend:
  #   if: github.event_name == 'push' || github.event_name == 'pull_request' || github.event_name == 'release' || github.event_name == 'repository_dispatch'
  #   name: Backend go
  #   runs-on: macos-latest
  #   strategy:
  #     matrix:
  #       go-version: [1.22]
  #   steps:
  #     - name: Set up Go ${{ matrix.go-version }}
  #       uses: actions/setup-go@v1
  #       with:
  #         go-version: ${{ matrix.go-version }}
  #       id: go

  #     - name: Check out branch
  #       uses: actions/checkout@v2


  #     - name: Clone quickspider-admin
  #       run: |
  #         git clone https://oauth2:${{ secrets.MYUSER_TOKEN  }}@github.com/charlessoft/quick-spider-admin.git ./quick-spider-admin
  #         #git clone https://oauth2:${{ secrets.GITEE_TOKEN  }}@gitee.com/charlesabc/myutils.git ./quick-spider-admin/myutils
          


  #     - name: Get current branch name
  #       id: get_branch
  #       run: |
  #         echo "BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
  #         echo "UTILS_DIR=${PWD}/quick-spider-admin/myutils" >> $GITHUB_ENV
  #         echo "WORK_ROOT_DIR=${PWD}/quick-spider-admin" >> $GITHUB_ENV
  #         echo "==========="
  #         echo $(git rev-parse --abbrev-ref HEAD)
  #         echo "==========="

  #     - name: Generate JENKINS.env
  #       run: |
  #         echo "export BRANCH=$BRANCH " >> $WORK_ROOT_DIR/.JENKINS.env
  #         echo "export UTILS_DIR=$UTILS_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
  #         echo "export WORK_ROOT_DIR=$WORK_ROOT_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
  #         cat $WORK_ROOT_DIR/.JENKINS.env
  #       working-directory: ./quick-spider-admin


  #     - name: Download dependencies
  #       run: |
  #         make build-server-local
  #       working-directory: ./quick-spider-admin

  #     # - name: Download dependencies
  #     #   run: |
  #     #     go get -v -t -d ./...
  #     #     if [ -f Gopkg.toml ]; then
  #     #         curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  #     #         dep ensure
  #     #     fi
  #     #   working-directory: ./quick-spider-admin/server

  #     # - name: Test and Build
  #     #   run: |
  #     #     go build -v -race
  #     #     make 
  #     #     mv server quickspiderserver && tar zcvf quickspiderserver.tar.gz quickspiderserver ./config.yaml ./resource 
  #     #   working-directory: ./quick-spider-admin/




  #     - name: Set SSH
  #       env:
  #         KEY: ${{ secrets.SSH_KEY }}
  #       run: |
  #         echo $KEY
  #         mkdir -p ~/.ssh/ && echo "$KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
  #         ssh-keyscan github.com >> ~/.ssh/known_hosts






  #     - name: publish server
  #       run: |
  #         bash ./quick-spider-admin/myutils/quickspider/scripts/publish_server.sh $WORK_ROOT_DIR/.JENKINS.env



  # deploy:
  #     if: github.event_name == 'push' || github.event_name == 'pull_request' || github.event_name == 'release'  || github.event_name == 'repository_dispatch'
  #     name:  deploy
  #     runs-on: ubuntu-latest
  #     needs:
  #       - init
  #       - backend
  #       - frontend
  #     steps:
  #       - name: Check out branch
  #         uses: actions/checkout@v2
  
  #       - name: Clone quickspider-admin
  #         run: |
  #           git clone https://oauth2:${{ secrets.MYUSER_TOKEN  }}@github.com/charlessoft/quick-spider-admin.git ./quick-spider-admin
  #           #git clone https://oauth2:${{ secrets.GITEE_TOKEN  }}@gitee.com/charlesabc/myutils.git ./quick-spider-admin/myutils
  
  
  #       - name: Install dding on non-Windows
  #         if: runner.os != 'Windows'
  #         run: |
  #           pip install dding
  #           mkdir -p ~/.dding
  #           dding_secret="${{ github.event.client_payload.dding_secret || env.DEFAULT_DDING_SECRET }}"
  #           dding_token="${{ github.event.client_payload.dding_token || env.DEFAULT_DDING_TOKEN }}"
  #           cat <<EOF > ~/.dding/config.json
  #           [
  #               {
  #                   "group": "default",
  #                   "secret": "$dding_secret",
  #                   "token": "$dding_token"
  #               }
  #           ]
  #           EOF
  
  
  #       - name: Get current branch name
  #         id: get_branch
  #         run: |
  #           echo "BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
  #           echo "UTILS_DIR=${PWD}/quick-spider-admin/myutils" >> $GITHUB_ENV
  #           echo "WORK_ROOT_DIR=${PWD}/quick-spider-admin" >> $GITHUB_ENV
  #           echo "==========="
  #           echo $(git rev-parse --abbrev-ref HEAD)
  #           echo "==========="
  
  #       - name: Generate JENKINS.env
  #         run: |
  #           echo "export BRANCH=$BRANCH " >> $WORK_ROOT_DIR/.JENKINS.env
  #           echo "export UTILS_DIR=$UTILS_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
  #           echo "export WORK_ROOT_DIR=$WORK_ROOT_DIR" >> $WORK_ROOT_DIR/.JENKINS.env
  #           cat $WORK_ROOT_DIR/.JENKINS.env
  #         working-directory: ./quick-spider-admin
  
  
  #       - name: Set SSH
  #         env:
  #           KEY: ${{ secrets.SSH_KEY }}
  #           # HOST: ${{ secrets.HOST }}
  #           # USER: ${{ secrets.USER }}
  #           # PROT: ${{ secrets.PROT }}
  #           # MKDIRTEST: ${{ secrets.MKDIRTEST }}
  #         run: |
  #           echo $KEY
  #           mkdir -p ~/.ssh/ && echo "$KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
  #           ssh-keyscan github.com >> ~/.ssh/known_hosts


  #       # - name: Setup Debug Session
  #       #   uses: csexton/debugger-action@master
          
  #       - name: Deploy 
  #         run: |
  #           echo "ok"
  #           bash $WORK_ROOT_DIR/myutils/quickspider/scripts/quickspider/docker_deploy.sh $WORK_ROOT_DIR/.JENKINS.env



  #       - name: Check Status
  #         if: ${{ success() }}
  #         shell: pwsh
  #         run: |
  #           $repoName = $env:GITHUB_REPOSITORY.Split('/')[-1]
            
  #           Write-Host "Workflow succeeded for $repoName!"
  #           dding "github action success :) for quickspider"
          

  #       - name: Check Status
  #         if: ${{ failure() }}
  #         shell: pwsh
  #         run: |
  #           $repoName = $env:GITHUB_REPOSITORY.Split('/')[-1]
  #           Write-Host "Workflow failed for $repoName!"
  #           dding "github action fail :( quickspider"
